<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DailyEDI.EmbeddedResourcesHandler" version="2022.1.10.1754" targetFramework="net472" />
  <package id="EmbeddedResourcesHandler" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.Azure.KeyVault" version="3.0.5" targetFramework="net472" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.Azure.KeyVault.WebKey" version="3.0.5" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.AppService.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.BatchAI.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.Cdn.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.Compute.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.ContainerInstance.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.ContainerRegistry.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.ContainerService.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.CosmosDB.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.Dns.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.EventHub.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.Graph.RBAC.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.KeyVault.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.Locks.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.Monitor.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.Msi.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.Network.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.PrivateDns.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.Redis.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.ResourceManager.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.Search.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.ServiceBus.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.Sql.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.Storage.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.TrafficManager.Fluent" version="1.38.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="4.3.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.2" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.24" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime.Azure.Authentication" version="2.4.1" targetFramework="net472" />
  <package id="Microsoft.TestPlatform.TestHost" version="17.1.0" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TestPlatform" version="14.0.0.0" targetFramework="net472" />
  <package id="Native.LibClang" version="5.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="OperatingSystem2" version="1.4.3" targetFramework="net472" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net472" />
  <package id="System.DirectoryServices" version="6.0.0" targetFramework="net472" />
  <package id="System.DirectoryServices.AccountManagement" version="6.0.0" targetFramework="net472" />
  <package id="System.DirectoryServices.Protocols" version="6.0.1" targetFramework="net472" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Management" version="6.0.0" targetFramework="net472" />
  <package id="System.Net.NetworkInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal" version="4.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="Topshelf" version="4.3.0" targetFramework="net472" />
  <package id="vocaluxe.dependencies.netfwtypelib" version="1.0.1" targetFramework="net472" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net472" />
</packages>